TableCell {
    -webkit-padding: 0;
    -moz-padding: 0;
    -ms-padding: 0;
    -o-padding: 0;
    padding: 0;
  }
.ellipse {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 6px;
}